<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 		layout:decorator="layout">
	<head>
	</head>
	<body>
		<div layout:fragment="content" class="margem-top-min centralizar">
			
			
			<form id="formServico" th:action="@{/produtos/buscarMateriais}" th:object="${item}">
				<div class="form-group">
						<label>Servico: </label>
						<select class="form-control" th:field="*{idServico}">
						       <option th:each="servico : ${servicos}" th:text="${servico.descricao}" th:value="${servico.idServico}" ></option>
						</select>
					</div>
					<button type="button" id="btn-buscarServico">Pesquisa</button>
				</form>
				
			<form th:action="@{/itens/incluir}" th:object="${item}" method="POST">
					<div class="form-group">
						<input class="form-control" th:field="*{idPedido}" type="hidden" />
					</div>
				
		            <div class="form-group">
				 		<label>Material: </label>
						<select class="form-control" th:field="*{idMaterial}">
					           <option th:each="material : ${materiais}" th:text="${material.descricao}" th:value="${material.idMaterial}" ></option>
				        </select>
			   		 </div>
			   		 
			   		 <div class="form-group">
			   		 	<input class="form-control" th:field="*{peso}">
			   		 </div>			
				<button type="button" id="btn-buscar">Escolher</button>
			</form>	
		</div>
	</body>
	<script layout:fragment="scripts">
    		$('#btn-buscarServico').click(function () {
    			  $('#formServico').submit();
    			});
    	</script>
</html>