<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
</head>
<body>

	<div layout:fragment="content">
		<div class="text-center center text-white">
			<div>
				<h3 class="big-text" th:if="${status}" th:text="${status}"></h3>
			</div>
		
			<div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
			   <h3 class="big-text" th:text="${message}">message ...</h3>
			</div>
		</div>
	</div>
</body>
</html>