<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{layout}">
	<head>
		<title>Index</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="text-center">
				<h2>Bem Vindo à Lavanderia Crescer</h2>
				<img src="http://lavanderiasantahelena.com.br/gallery/banner04.png" class="img-responsive banner-index" />
			</div>
			
			<article class="col-md-6 my-article">
				<header class="text-center">
					<h3>Qualidade</h3>
				</header>
				<img class="img-article" src="http://www.macroetiquetas.com.br/sites/template.orbitadev.com.br/files/conteudo/qualidade-comprovada_0.png" />
				<p class="p-article">A Lavanderia Crescer conta com as recentes tecnologias e técnicas de lavagem, garantindo os melhores níveis de qualidade e oferecendo aos nossos clientes a agilidade e segurança desejadas.</p>
			</article>
			
			<article class="col-md-6 my-article">
				<header>
					<h3>Servicos</h3>
				</header>
				<ul>
					<li>Limpeza a seco</li>
					<li>Limpeza a água</li>
					<a href="#" id="veja">veja mais...</a>
				</ul>
			</article>
			
		</div>
		
		<script layout:fragment="scripts">
			$('#veja').click(function(){alert('Ano que vem...')})
		</script>
	</body>
</html>