
<div class="text-center">
    <h3 style="font-size:120pt;color:red;font-weight:bold">404</h3>
    <h3 style="font-size:90pt;color:red;font-weight:bold">GAME NOT FOUND</h3>
    <a class="btn btn-default btn-lg btn-primary" style="margin:60px" href="~/Home/Index">Voltar</a>
</div>

