<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{layout}">
	<head>
		<title>Exibe</title>
	</head>
	<body>
		<div layout:fragment="content">
			<form th:object="${cliente}" style="width:400px;" class="col-md-offset-4">
			
				<h3 class="text-center">Exibir</h3>
				<div class="form-group">
					<label class="control-label">Nome: </label>
					<input th:field="*{nome}" type="text" disabled="true" class="form-control" />
				</div>
				
				<div class="form-group">
					<label class="control-label">CPF: </label>
			 		<input th:field="*{cpf}" type="text" disabled="true" class="form-control" />
				</div>
				
				<div class="form-group">
			 		<label class="control-label">Email: </label>
			 		<input th:field="*{email}" type="text" disabled="true" class="form-control"/>
		 		</div>
		 		
		 		<div class="form-group">
					<label class="control-label">Endereco: </label>
			 		<input th:field="*{endereco}" type="text" class="form-control" disabled="true" />
				</div>
				
				<div class="form-group">
					<label class="control-label">Bairro: </label>
			 		<input th:field="*{bairro}" type="text" class="form-control" disabled="true" />
				</div>
				
				<div class="form-group">
					<label class="control-label">CEP: </label>
			 		<input th:field="*{cep}" type="text" class="form-control" disabled="true" />
				</div>
		 		
		 		<div class="form-group">
			 		<label class="control-label">Cidade: </label>
			 		<select th:field="*{idCidade}" disabled="true" class="form-control">
		                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
		            </select>
	            </div>
             
			</form>
			</div>
	</body>
</html>