@{
    ViewBag.Title = "Página Inicial";
}

<h2 style="text-align:center">Locadora CWI Crescer</h2>
<div style="display:inline;float:right">
    <input type="text" placeholder="Nome" id="pesquisaNome">
    <button class="btn btn-default btn-sm" type="submit" id="btn-pesquisa">Pesquisar</button>
</div>
<img src="https://battlemisfit.files.wordpress.com/2015/02/cropped-battle_misfit_banner.png" style="display : block; margin : auto; margin-top:70px; width:100%;box-shadow: 0 0 50px red;">
<div class="text-center">
    <button class="btn btn-default btn-lg" style="margin-top : 40px;">@Html.ActionLink("Jogos Disponiveis", "JogosDisponiveis", "Relatorio")</button>
</div>
    @section Scripts
{
        <script>
            $('#btn-pesquisa').click(function () {
                var nomeJogo = $('#pesquisaNome').val();
                window.location.href = "@Url.Action("JogosDisponiveis", "Relatorio")" + "/search?nomeJogo=" + nomeJogo;
            })
        </script>
    }
