<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="Layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<title>Pedido</title>
</head>
<body>

	<section layout:fragment="content" th:object="${pedido}">
	
		<h3 class="text-center margin-30">Dados do pedido</h3>
		<table class="table table-bordered">
			<tr>
					<th>ID</th>
					<th>Nome:</th>
					<th>Cpf:</th>
					<th>Data de inclusao:</th>
					<th>Data de entrega:</th>
					<th>Valor Bruto:</th>
					<th>Valor Desconto:</th>
					<th>Valor Total: </th>
					<th>Situacao:</th>
				</tr>
			<tr>
				<td th:text="*{idPedido}"></td>
				<td th:text="*{cliente.nome}"></td>
				<td th:text="*{cliente.cpf}"></td>
				<td th:text="*{dataInclusao}"></td>
				<td th:text="*{dataEntrega}"></td>
				<td th:text="*{valor}"></td>
				<td th:text="*{valorDesconto}"></td>
				<td th:text="*{valorFinal}"></td>
				<td th:text="*{situacao}"></td>
			</tr>
		</table>
		
		<a th:href="${'/pedidos/incluirProduto/' + pedido.idPedido}" class="btn btn-default">Inserir item</a>
		<a th:href="${'/pedidos/processarItens/' + pedido.idPedido}" class="btn btn-default">Processar Itens</a>
		<a th:href="${'/pedidos/salvarItens/' + pedido.idPedido}" class="btn btn-default">Salvar Pedido</a>
		
		<h3 class="text-center margin-30">Itens</h3>
		<table class="table table-bordered">
				<tr>
					<th>ID</th>
					<th>Servico</th>
					<th>Material</th>
					<th>Peso</th>
					<th>Valor Unitario</th>
					<th>Valor Total</th>
					<th>Situacao</th>
				</tr>			
				<tr style="margin-top:50px" th:each="item : ${pedido.itens}" >
					<td th:text="${item.idItem}"></td>
					<td th:text="${item.produto.servico.descricao}"></td>
					<td th:text="${item.produto.material.descricao}"></td>
					<td th:text="${item.peso}"></td>
					<td th:text="${item.valorUnitario}"></td>
					<td th:text="${item.valorTotal}"></td>
					<td th:text="${item.situacao}"></td>
					<td>
						<a th:href="${'/pedidos/processarItem/' + item.idItem}" class="btn btn-default">Processar</a>
					</td>
				</tr>
		</table>
		
	</section>
</body>
</html>