<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{layout}">
	<head>
		<title>Editar</title>
	</head>
	<body>
		<section  layout:fragment="content">
		<form th:action="@{/pedidos/incluir}" th:object="${pedido}" method="POST" class="col-md-offset-4 width-600">
			
			<div class="form-inline center">
			 	<label>Cliente: </label>
			 	<select th:field="*{idCliente}"  class="form-control">
		            <option th:each="c : ${clientes}" th:text="${c.nome}" th:value="${c.id}" ></option>
		        </select>
            
            	<button class="btn btn-default" type="submit">Salvar</button>
            </div>
		</form>         	
			
		</section>
	</body>
</html>