
@{
    ViewBag.Title = "PaginaInicial";
}

<h2 class="text-center">Minha Locadora</h2>
<p class="text-center">Aqui contem uma descricao</p>
<img src="https://d85wutc1n854v.cloudfront.net/live/products/600x375/WB011RD77.png?v=1.0" class="img-responsive center-block" />
<a class="btn btn-default" href="~/Relatorio/Relatorio" role="button">Jogos</a>

